# dependencies
node_modules/
.pnpm-store/

# env & secrets — never commit real secrets
.env
.env.*
!.env.example

# builds
dist/
build/
.next/
out/
coverage/
*.tsbuildinfo

# prisma
apps/api/prisma/*.db

# flutter
apps/mobile/.dart_tool/
apps/mobile/build/
apps/mobile/.flutter-plugins*
apps/mobile/.packages

# misc
.DS_Store
*.log
.idea/
.vscode/
